.box-container{
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    /* width: 90%; */
    /* margin: auto; */
    border: 1px solid black;
    /* justify-content: space-between; */
    /* height: 600px; */
    /* align-items: end; */
    /* align-content: center;
    flex-wrap: wrap; */
}

.box{
    border: 1px solid grey;
    /* padding: 10px;
    border-radius: 10px; */
    /* width: 300px; */
    flex-basis: 300px;
}

.box1{
    background-color: grey;
    border:1px solid black;
    /* width: 500px; */
    flex-grow: 1;
}

.box2{
    background-color: dodgerblue;
    border:1px solid black;
    flex-grow: 2;
}

.box3{
    background-color: coral;
    border:1px solid black;
    flex-grow: 2;
}

.box4{
    background-color: brown;
    border:1px solid black;
}

.box5{
    background-color: darkcyan;
    border:1px solid black;
}

.image{
    width: 100px;
}

.image img{
    width: 100%;
}

.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    font-size: 20px;
    display: flex;
    gap: 100px;
}