inline css > id > class > tag

/* h1{
    color: red;
} */

.text-red{
    color: red;
}

.h1class{
    color: tomato;
}

/* #h1id{
    color: blue;
} */

.hr{
    width: 500px;
    border: 0.5px solid black;
    margin-bottom: 5px;
}

.box1{
    width: 500px;
    background-color: brown;
    border: 10px solid blue;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.box2{
    width: 500px;
    background-color: dodgerblue;
    border: 10px solid blue;
    padding: 5px;
}
.link{
    /* display: block; */
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid black;
}

.para{
    display: inline;
}

